<!DOCTYPE html>
<html>
<head>
    <!--#include virtual="../../Views/Shared/_Meta.html" -->
    @Html.Partial("~/Views/Shared/_Meta.cshtml")
    <title>3M</title>
    <!--#include virtual="../../Views/Shared/_GlobalLink.html" -->
    @Html.Partial("~/Views/Shared/_GlobalLink.cshtml")
    <!-- self link begin -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bed.css?css=20171229")" />
    <!-- self link end -->
</head>
<body>
    <div class="l-body is-full" data-page="index">
        <!-- ==================== l-header begin ==================== -->
        <!--#include virtual="../../Views/Shared/_Header.html" -->
        @Html.Partial("~/Views/Shared/_Header.cshtml")
        <!-- ==================== l-header end ==================== -->
        <main class="l-main">
            <div class="l-content">
                <div class="ui-content">
                    <div class="str-content">
                        <div class="txt-content">
                            <p class="txt-title">適合你的完美賴床理由是...</p>
                            <p class="txt-sub"></p>
                        </div>
                        <a href="javascript:;" class="get-btn" data-url="/Api/RandomReasonGenerator"></a>
                    </div>
                    <div class="sheet-content">
                        <input type="radio" name="sheet" id="bd1" value="1" checked>
                        <label for="bd1" class="sheet-btn s1"></label>
                        <input type="radio" name="sheet" id="bd2" value="2">
                        <label for="bd2" class="sheet-btn s2"></label>
                    </div>
                    <div class="obj-content">
                        <div class="radio-group">
                            <input type="radio" name="type" id="type1" value="1" checked>
                            <label for="type1" class="type-btn t1"></label>
                            <input type="radio" name="type" id="type2" value="2">
                            <label for="type2" class="type-btn t2"></label>
                        </div>
                        <a href="javascript:;" class="arrow-btn left" data-arrow="left"></a>
                        <div class="msk">
                            <div class="list type1">
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/boy_01.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/girl_01.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/boy_02.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/girl_02.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/hand_01.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/hand_02.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/foot_01.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/foot_02.png?img=20180322")" alt=""></a>
                            </div>
                            <div class="list type2">
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/cat_01.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/dog_02.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/cat_02.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/dog_03.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/cat_03.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/dog_04.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/cat_04.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/dog_05.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/cat_05.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/dog_06.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/cat_06.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/dog_07.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/cat_07.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/dog_08.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/cat_08.png?img=20180322")" alt=""></a>
                                <!--
                                -->
                                <a href="javascript:;" class="obj"><img src="@Url.Content("~/Content/img/bed/dog_09.png?img=20180322")" alt=""></a>
                            </div>
                        </div>
                        <a href="javascript:;" class="arrow-btn right" data-arrow="right"></a>
                    </div>
                    <a href="javascript:;" class="btn-link b-bg-black b-text-white b-middle ok-btn ga_click_trace" data-url="/Api/Base64ToPic" ga_cat="Game" ga_event="click" ga_label="finish"><span class="text">完成</span></a>
                </div>
                <div class="canvas-content">
                    <canvas id="myCanvas" width="600" height="600"></canvas>
                    <em class="hint b-block b-text-center">本遊戲僅為參考，商品規格與設計請以實品或產品說明頁為準</em>
                </div>
            </div>
            <div class="l-lightbox">
                <div class="m-lightbox">
                    <div class="m-lightbox-bd b-text-center">
                        <h3 class="box-title b-bold">馬上來製作屬於自己的專屬賴床圖吧！</h3>
                        <ol class="order-list b-text-left">
                            <li class="list"><em class="step b-block">step 1</em><span class="text b-block">系統會自動產生賴床理由（也可點擊<b class="highlight b-bold">「再產生一次」</b>看其他理由）</span></li>
                            <li class="list"><em class="step b-block">step 2</em><span class="text b-block">開始製作賴床圖，點擊選擇<b class="highlight b-bold">「床單樣式」</b></span></li>
                            <li class="list"><em class="step b-block">step 3</em><span class="text b-block">點擊人物或<b class="highlight b-bold">「寵物圖樣」</b></span></li>
                            <li class="list"><em class="step b-block">step 4</em><span class="text b-block"><b class="highlight b-bold">「拖曳」</b>或<b class="highlight b-bold">「調整」</b>圖樣大小到想要的位置</span></li>
                            <li class="list"><em class="step b-block">step 5</em><span class="text b-block">完成製作並<b class="highlight b-bold">「分享成果」</b>！</span></li>
                        </ol>
                        <button class="btn-link b-bg-black b-text-white jQ-hint"><span class="text">知道了！馬上開始</span></button>
                    </div>
                    <button class="btn-close jQ-close"><em class="b-hide-text">關閉</em></button>
                </div>
            </div>
        </main>
        <!-- ==================== l-footer begin ==================== -->
        <!--#include virtual="../../Views/Shared/_Footer.html" -->
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
        <!-- ==================== l-footer end ==================== -->
    </div>
    <!-- ==================== not support begin ==================== -->
    <!--#include virtual="../../Views/Shared/_Not-Support.html" -->
    @Html.Partial("~/Views/Shared/_Not-Support.cshtml")
    <!-- ==================== not support end ==================== -->
    <!--#include virtual="../../Views/Shared/_GlobalScriptsGA.html" -->
    @Html.Partial("~/Views/Shared/_GlobalScriptsGA.cshtml")
    <!--[if gt IE 9]><!-->
    <!-- common script ft begin -->
    <!--#include virtual="../../Views/Shared/_GlobalScriptsLibs.html" -->
    @Html.Partial("~/Views/Shared/_GlobalScriptsLibs.cshtml")
    <!--#include virtual="../../Views/Shared/_GlobalScriptsFt.html" -->
    @Html.Partial("~/Views/Shared/_GlobalScriptsFt.cshtml")
    <!-- common script ft end -->
    <!-- self script begin -->
    <script defer src="@Url.Content("~/Scripts/plugin/createjs/createjs-2015.11.26.min.js?js=20180322")"></script>
    <script defer src="@Url.Content("~/Scripts/js/bed.min.js?js=20180322")"></script>
    <!-- self script end -->
    <!--<![endif]-->
</body>
</html>