<!DOCTYPE html>
<html>
<head>
    <!--#include virtual="../../Views/Shared/_Meta.html" -->
    @Html.Partial("~/Views/Shared/_Meta.cshtml")
    <title>3M</title>
    <!--#include virtual="../../Views/Shared/_GlobalLink.html" -->
    @Html.Partial("~/Views/Shared/_GlobalLink.cshtml")
    <!-- self link begin -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/index.css?css=20180322")" />
    <!-- self link end -->
</head>
<body>
    <div class="l-body is-full" data-page="index">
        <!-- ==================== l-header begin ==================== -->
        <!--#include virtual="../../Views/Shared/_Header.html" -->
        @Html.Partial("~/Views/Shared/_Header.cshtml")
        <!-- ==================== l-header end ==================== -->
        <main class="l-main">
            <div class="l-content">
                <div class="main-content">
                    <h1 class="site-title">
                        <em class="b-hide-text">再讓我睡10分鐘！</em>
                        <ul class="flip-card b-inline">
                            <li class="list">
                                <div class="back">
                                    <i class="top"></i>
                                    <i class="bottom"></i>
                                </div>
                                <div class="flip-front"></div>
                                <div class="flip-back"></div>
                            </li>
                            <li class="list">
                                <div class="back">
                                    <i class="top"></i>
                                    <i class="bottom"></i>
                                </div>
                                <div class="flip-front"></div>
                                <div class="flip-back"></div>
                            </li>
                            <li class="list">
                                <div class="back">
                                    <i class="top"></i>
                                    <i class="bottom"></i>
                                </div>
                                <div class="flip-front"></div>
                                <div class="flip-back"></div>
                            </li>
                            <li class="list">
                                <div class="back">
                                    <i class="top"></i>
                                    <i class="bottom"></i>
                                </div>
                                <div class="flip-front"></div>
                                <div class="flip-back"></div>
                            </li>
                            <li class="list">
                                <div class="back">
                                    <i class="top"></i>
                                    <i class="bottom"></i>
                                </div>
                                <div class="flip-front"></div>
                                <div class="flip-back"></div>
                            </li>
                            <li class="list">
                                <div class="back">
                                    <i class="top"></i>
                                    <i class="bottom"></i>
                                </div>
                                <div class="flip-front"></div>
                                <div class="flip-back"></div>
                            </li>
                            <li class="list">
                                <div class="back">
                                    <i class="top"></i>
                                    <i class="bottom"></i>
                                </div>
                                <div class="flip-front"></div>
                                <div class="flip-back"></div>
                            </li>
                            <li class="list">
                                <div class="back">
                                    <i class="top"></i>
                                    <i class="bottom"></i>
                                </div>
                                <div class="flip-front"></div>
                                <div class="flip-back"></div>
                            </li>
                        </ul>
                    </h1>
                    <em class="sub-title b-block"><span class="highlight">Hello, World.</span> 今天一起賴床，好嗎？</em>
                    <div class="btn-wrap">
                        <a href="@Url.Action("Bed")" class="btn-link b-bg-black b-text-white b-middle ga_click_trace" ga_cat="Home" ga_event="click" ga_label="reason"><span class="text">點我製作專屬賴床圖</span></a>
                    </div>
                </div>
                <div class="main-visual">
                    <div class="bed-wrap">
                        <i class="bed"></i>
                        <ul class="pattern">
                            <li class="list"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></li>
                            <li class="list"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></li>
                        </ul>
                    </div>
                    <div class="signature">
                        <p class="wording">夏被限量設計師款圖案<br>委由 <b class="b-bold">聶永真</b> 設計</p>
                    </div>
                    <em class="site-slogan b-hide-text">幸福睡眠 涼品質選</em>
                </div>
                <div class="approach-ani">
                    <ul class="flip-cub"><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                </div>
            </div>
        </main>
        <!-- ==================== l-footer begin ==================== -->
        <!--#include virtual="../../Views/Shared/_Footer.html" -->
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
        <!-- ==================== l-footer end ==================== -->
    </div>
    <!-- ==================== not support begin ==================== -->
    <!--#include virtual="../../Views/Shared/_Not-Support.html" -->
    @Html.Partial("~/Views/Shared/_Not-Support.cshtml")
    <!-- ==================== not support end ==================== -->
    <!--#include virtual="../../Views/Shared/_GlobalScriptsGA.html" -->
    @Html.Partial("~/Views/Shared/_GlobalScriptsGA.cshtml")
    <!--[if gt IE 9]><!-->
    <!-- common script ft begin -->
    <!--#include virtual="../../Views/Shared/_GlobalScriptsLibs.html" -->
    @Html.Partial("~/Views/Shared/_GlobalScriptsLibs.cshtml")
    <!--#include virtual="../../Views/Shared/_GlobalScriptsFt.html" -->
    @Html.Partial("~/Views/Shared/_GlobalScriptsFt.cshtml")
    <!-- common script ft end -->
    <!-- self script begin -->
    <!-- self script end -->
    <!--<![endif]-->
</body>
</html>